{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEEL'M</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css"/>
    {% block style %}
    {% endblock %}
</head>
<body>
    <div class="menu">
        <img id=logo src={% static 'image/feelm_logo4.png' %} alt="feel'm_logo" ></img>
    </div>
    <div class="root">
        {% block content %}
        {% endblock %}
    </div>
    <span id='bottom'>
        Film To Know What I'm Feeling 주식회사 필름(feelm)<br>
        Project Team Aloha! / 김신영 이지원 천희국 최다인 / 광주 인공지능 사관학교
    </span>
</body>
</html>