{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type = "text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="inbox">
        <div class="intro">
            당신의 Instagram 계정을 입력해주세요.<br>Feelm이 최근 30개의 게시물을 바탕으로<br>당신의 감정을 분석해드립니다.
        </div>
        <div>
            <form onclick="return popup_post_set()" method="post" action="https://api.instagram.com/oauth/authorize?client_id=783139315754863&redirect_uri=https://127.0.0.1:8000/result/&scope=user_profile,user_media&response_type=code" target="new_popup">
                {% csrf_token %}
                <button type="submit">Log in with Instagram
                    <img class='bt_img' src={% static 'image/instagram.png' %}>
                </button>
            </form>
        </div>
    </div>
    
{% endblock %}
