div.palette{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.check{
    display: flex;
}
div.in_palette{
    width: 120px;
    height: 16px;
    display: flex;
    justify-content: center;
    background-color: slategray;
}
svg{
    width: 16px;
    height: 16px;
}

.one{fill:pink;}
.two{fill:#FAAC58;}
.three{fill:yellow;}
.four{fill:yellowgreen;}
.five{fill:skyblue;}
.six{fill:#E3A6FC;}
.seven{fill:#BDBDBD; }

div.content{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.head_option{
    display: flex;
    flex-direction: column;
}
