svg{
    width: 16px;
    height: 16px;
}
.hh{
    width: 100px;
    height: 16px;
    display: flex;
    justify-content: center;
}
.one{fill:pink;}
.two{fill:#FAAC58;}
.three{fill:yellow;}
.four{fill:yellowgreen;}
.five{fill:skyblue;}


